<div class="card-columns m-5">
    <div class="card puntero" (click)="verArtista(item)" *ngFor="let item of items">
        <img class="card-img-top" [src]="item.images | noimage " alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <!-- <span class="badge badge-primary " *ngFor="let genero of artistas.genres">{{artista.name}}</span> -->

            <span class="badge badge-primary " *ngFor="let artista of item.artists">{{artista.name}}</span>
        </div>
    </div>
</div>0